.banner {
	width: 100%;
	background-color: #3e3e3e;
	color: #fff;
	font-size: 1em;
	margin-bottom: 1em;
	padding: 5px;
}

.banner a {
	color: #fff;
}

body {
	margin: 0px;
}

p {
	margin-left: 20px;
	width: 90%;
}

h2 {
	margin-left: 20px;
}

h3 {
	margin-top: 0px;
}

table {
	width: 500px;
	margin-left: 20px;
}
table, th, td {
	padding: 5px;
	border-collapse: collapse;
}
th {
	background-color: #eef5ff;
	font-weight: bold;
}

.button-bar {
	display: block;
	width: 100%;
	text-align: center;
}
.button {
	width: 180px;
	padding: 14px 10px;
	background-color: #a0c8ff;
	cursor: pointer;
	margin: 0px 20px 0px 20px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	text-decoration-line: none;
	color: #000;
}

.thin-button {
	width: 100px;
	padding: 5px 10px;
	margin: 0px;
}

.disabled {
	cursor: not-allowed;
	background-color: #dadee3;
}

form .button {
	margin-top: 10px;
}

.button:hover {
	background-color: #c6deff;
}

.disabled:hover {
	background-color: #ecf0f5;
}

.ace_editor {
	border: 1px solid lightgrey;
	margin: auto;
	height: 200px;
	width: 80%;
}
.editor { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.question-box {
	display: block;
	background-color: #eef5ff;
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 60%;
	min-width: 500px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;
}

.question-box .button {
	margin-left: 0px;
}

.warning {
	color: #f00;
	font-weight: bold;
}

.arrow-right {
	display: inline-block;
	transform: translateY(0.6em);
	width: 0; 
	height: 0; 
	margin-left: 2px;
	margin-right: 6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}
.arrow-down {
	display: inline-block;
	transform: translateY(0.7em);
	width: 0; 
	height: 0; 
	margin-right: 3px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid black;
}

div.close-x {
	float: right;
	margin-top: -17px;
	margin-right: -12px;
}

a.close-x {
	text-decoration-line: none;
	color: black;
	font-size: 1.5em;
}

.dialog-background {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
	padding-top: 30;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.dialog {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.file-form {
	display: grid;
	grid-template-columns: 100px 600px;
	grid-gap: 12px 20px;
}

.file-form > label {
	align-self: center;
}

.file-form > a {
	/*justify-self: right;*/
	justify-self: center;
	margin-top: 20px;
}

/*
.file-form > select {
	width: 600px;
}
*/

.aligned {
	float: left;
	clear: left;
	width: 100%;
}

.aligned label {
	margin: 11px 0 6px 0;
	float: left;
}

.aligned input:not([type=checkbox]) {
	width: 80%;
	padding: 5px 10px;
	margin: 8px 0 0 5px;
	border: 1px solid #888;
	border-radius: 5px;
	box-sizing: border-box;
	float: right;
}

.aligned input[type=checkbox] {
	padding: 5px 10px;
	margin: 15px 0 0 5px;
	border: 1px solid #888;
	box-sizing: border-box;
	float: left;
}

.wideInputs input[type="number"] {
	width: 100%;
}

.bandedTable tr:nth-child(even) {
	background-color: #f2f8ff;
}
.
