.banner {
	width: 100%;
	background-color: #3e3e3e;
	color: #fff;
	font-size: 1em;
	margin-bottom: 1em;
	padding: 5px;
}

body {
	margin: 0px;
}

p {
	margin-left: 20px;
	width: 90%;
}

h2 {
	margin-left: 20px;
}

table {
	width: 500px;
	margin-left: 20px;
}
table, th, td {
	padding: 5px;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
th {
	background-color: #a0c8ff;
	font-weight: bold;
}

table input {
	width: 100%;
}

.button-bar {
	display: block;
	width: 100%;
	text-align: center;
}
.button {
	width: 180px;
	padding: 14px 10px;
	background-color: #a0c8ff;
	cursor: pointer;
	margin: 0px 20px 0px 20px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	text-decoration-line: none;
	color: #000;
}

.button:hover {
	background-color: #c6deff;
}

.ace_editor {
	border: 1px solid lightgrey;
	margin: auto;
	height: 200px;
	width: 80%;
}
.editor { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.question-box {
	display: block;
	background-color: #eef5ff;
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 60%;
	min-width: 500px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;
}

.question-box .button {
	margin-left: 0px;
}

.warning {
	color: #f00;
	font-weight: bold;
}

.arrow-right {
	display: inline-block;
	transform: translateY(0.6em);
	width: 0; 
	height: 0; 
	margin-left: 2px;
	margin-right: 6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}
.arrow-down {
	display: inline-block;
	transform: translateY(0.7em);
	width: 0; 
	height: 0; 
	margin-right: 3px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid black;
}
